<section class="brands" data-figma-node="462:2019" data-figma-name="Brands">
  <div class="brands__inner">
    <div class="brands__intro">
      <span class="brands__badge">Бренды</span>
      <p class="brands__heading">Мировые производители.<br>
        <span class="brands__heading-muted">Напрямую.</span>
      </p>
    </div>
    <a class="btn btn--secondary" href="{{ '/catalog/' | url }}">Каталог</a>
  </div>
  <div class="brands__grid">
    <div class="brands__cell brands__cell--viessmann"><img src="{{ '/images/brands/viessmann.svg' | url }}" alt="Viessmann"></div>
    <div class="brands__cell brands__cell--tece"><img src="{{ '/images/brands/tece.svg' | url }}" alt="TECE"></div>
    <div class="brands__cell brands__cell--meibes"><img src="{{ '/images/brands/meibes.svg' | url }}" alt="Meibes"></div>
    <div class="brands__cell brands__cell--arbonia"><img src="{{ '/images/brands/arbonia.svg' | url }}" alt="Arbonia"></div>
    <div class="brands__cell brands__cell--geberit"><img src="{{ '/images/brands/geberit.svg' | url }}" alt="Geberit"></div>
    <div class="brands__cell brands__cell--kermi"><img src="{{ '/images/brands/kermi.svg' | url }}" alt="Kermi"></div>
    <div class="brands__cell brands__cell--wilo"><img src="{{ '/images/brands/wilo.svg' | url }}" alt="Wilo"></div>
    <div class="brands__cell brands__cell--flamco"><img src="{{ '/images/brands/flamco.svg' | url }}" alt="Flamco"></div>
    <div class="brands__cell brands__cell--oventrop"><img src="{{ '/images/brands/oventrop.svg' | url }}" alt="Oventrop"></div>
    <div class="brands__cell brands__cell--elco"><img src="{{ '/images/brands/elco.svg' | url }}" alt="Elco"></div>
  </div>
</section>
