<section class="services" data-figma-node="472:3113" data-figma-name="Services">
  <div class="services__container">
    <div class="services__title-badge">
      <span class="services__badge">Услуги</span>
      <p class="services__heading">Полный цикл.<br> <span class="services__heading-muted">От&nbsp;расчёта и&nbsp;проекта до&nbsp;пусконаладки и&nbsp;сервиса.</span></p>
    </div>
    <a class="btn btn--secondary services__btn" href="{{ '/services/' | url }}">Подробнее</a>
  </div>
  <div class="services__grid">
    <div class="services__card services__card--teo">
      <div class="services__icon"><img src="{{ '/images/services/calculator.svg' | url }}" alt=""></div>
      <div class="services__card-text">
        <p class="services__card-title">ТЭО</p>
        <p class="services__card-desc">Оцениваем окупаемость и&nbsp;сроки возврата вложений в&nbsp;котельную.</p>
      </div>
    </div>
    <div class="services__card services__card--design">
      <div class="services__icon"><img src="{{ '/images/services/ruler.svg' | url }}" alt=""></div>
      <div class="services__card-text">
        <p class="services__card-title">Проектирование</p>
        <p class="services__card-desc">Проектируем инженерные сети и&nbsp;подбираем оптимальные решения.</p>
      </div>
    </div>
    <div class="services__card services__card--supply">
      <div class="services__icon"><img src="{{ '/images/services/package.svg' | url }}" alt=""></div>
      <div class="services__card-text">
        <p class="services__card-title">Поставка оборудования</p>
        <p class="services__card-desc">Поставляем оборудование мировых брендов с&nbsp;официальной гарантией.</p>
      </div>
    </div>
    <div class="services__card services__card--install">
      <div class="services__icon"><img src="{{ '/images/services/tool-01.svg' | url }}" alt=""></div>
      <div class="services__card-text">
        <p class="services__card-title">Монтаж и шеф-монтаж</p>
        <p class="services__card-desc">Монтируем отопление, канализацию, водоснабжение, наружные и&nbsp;тепловые сети.</p>
      </div>
    </div>
    <div class="services__card services__card--commissioning">
      <div class="services__icon"><img src="{{ '/images/services/settings-03.svg' | url }}" alt=""></div>
      <div class="services__card-text">
        <p class="services__card-title">Пусконаладка</p>
        <p class="services__card-desc">Настраиваем оборудование и&nbsp;выводим на&nbsp;заданный проектный режим.</p>
      </div>
    </div>
    <div class="services__card services__card--warranty">
      <div class="services__icon"><img src="{{ '/images/services/shield-tick.svg' | url }}" alt=""></div>
      <div class="services__card-text">
        <p class="services__card-title">Сервис и гарантия</p>
        <p class="services__card-desc">Гарантийное обслуживание, запчасти и&nbsp;поддержка на&nbsp;весь срок.</p>
      </div>
    </div>
  </div>
</section>
