<section class="stats" data-figma-node="494:2782" data-figma-name="Stats - L">
  <div class="stats__intro">
    <div class="stats__title-badge">
      <span class="stats__badge">О нас</span>
      <p class="stats__heading">Опыт,<br class="stats__break-tablet"> который измеряется.<br>
        <span class="stats__heading-muted">Мегаватты запущенных<br> котельных и годы<br class="stats__break-tablet"> на сервисе.</span>
      </p>
    </div>
    <a class="btn btn--secondary stats__btn" href="{{ '/about/' | url }}">Подробнее</a>
  </div>
  <div class="stats__grid">
    <div class="stats__cell">
      <div class="stats__cell-text">
        <p class="stats__cell-title">Запущено</p>
        <p class="stats__cell-desc">Суммарная мощность оборудования на объектах наших заказчиков.</p>
      </div>
      <p class="stats__cell-value">20 МВт</p>
    </div>
    <div class="stats__cell">
      <div class="stats__cell-text">
        <p class="stats__cell-title">На сервисе</p>
        <p class="stats__cell-desc">Оборудование на регулярном сервисном обслуживании TCE.</p>
      </div>
      <p class="stats__cell-value">5 МВт</p>
    </div>
    <div class="stats__cell">
      <div class="stats__cell-text">
        <p class="stats__cell-title">Поставлено</p>
        <p class="stats__cell-desc">Единиц оборудования поставлено и введено в эксплуатацию.</p>
      </div>
      <p class="stats__cell-value">100+</p>
    </div>
  </div>
</section>
